# APISIX Gateway Configuration
APISIX_HTTP_PORT=your-apisix_http_port
APISIX_ADMIN_PORT=your-apisix_admin_port
APISIX_ADMIN_KEY=your-apisix_admin_key

# Downstream Microservices
USER_SERVICE_HOST=your-user_service_host
USER_SERVICE_PORT=your-user_service_port

CATALOG_SERVICE_HOST=your-catalog_service_host
CATALOG_SERVICE_PORT=your-catalog_service_port
