# =your-#
# PostgreSQL Infrastructure
# =your-#
POSTGRES_USER=your-postgres_user
POSTGRES_PASSWORD=your-postgres_password
POSTGRES_DB=your-postgres_db
DB_PORT=your-db_port

# =your-#
# APISIX API Gateway
# =your-#
APISIX_HTTP_PORT=your-apisix_http_port
APISIX_ADMIN_PORT=your-apisix_admin_port

# =your-#
# Shared Security & Auth
# =your-#
JWT_SECRET=your-jwt_secret

# =your-#
# User Service Configuration
# =your-#
USER_SERVICE_HOST=your-user_service_host
USER_SERVICE_PORT=your-user_service_port
USER_DATABASE_URL=your-user_database_url

# =your-#
# Catalog Service Configuration
# =your-#
CATALOG_SERVICE_HOST=your-catalog_service_host
CATALOG_SERVICE_PORT=your-catalog_service_port
CATALOG_DATABASE_URL=your-catalog_database_url