# Database Settings
POSTGRES_USER=your-postgres_user
POSTGRES_PASSWORD=your-postgres_password
POSTGRES_DB=your-postgres_db
DB_PORT=your-db_port

# Application Settings
PORT=your-port
DATABASE_URL=your-database_url
